<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sect1 PUBLIC "-//OASIS//DTD DocBook XML V4.5//EN"
  "http://www.oasis-open.org/docbook/xml/4.5/docbookx.dtd" [
  <!ENTITY % general-entities SYSTEM "../general.ent">
  %general-entities;
]>

<sect1 id="ch-system-acl" role="wrap">
  <?dbhtml filename="acl.html"?>

  <sect1info condition="script">
    <productname>acl</productname>
    <productnumber>&acl-version;</productnumber>
    <address>&acl-url;</address>
  </sect1info>

  <title>Acl-&acl-version;</title>

  <indexterm zone="ch-system-acl">
    <primary sortas="a-Acl">Acl</primary>
  </indexterm>

  <sect2 role="package">
    <title/>

    <para>Acl pakken inneholder verktøy for å administrere tilgangskontrolllister,
    som brukes til å definere mer finmaskede skjønnsmessige tilgangsrettigheter for
    filer og mapper.</para>

    <segmentedlist>
      <segtitle>&buildtime;</segtitle>
      <segtitle>&diskspace;</segtitle>

      <seglistitem>
        <seg>&acl-fin-sbu;</seg>
        <seg>&acl-fin-du;</seg>
      </seglistitem>
    </segmentedlist>

  </sect2>

  <sect2 role="installation">
    <title>Installasjon av Acl</title>

    <para>Forbered Acl for kompilering:</para>

<screen><userinput remap="configure">./configure --prefix=/usr    \
            --disable-static \
            --docdir=/usr/share/doc/acl-&acl-version;</userinput></screen>

    <para>Kompiler pakken:</para>

<screen><userinput remap="make">make</userinput></screen>

    <para>Acl testene må kjøres på et filsystem som støtter tilgangskontroller.
    For å teste resultatene, utsted:</para>

<screen><userinput remap="test">make check</userinput></screen>

    <para>En test navngitt <filename>test/cp.test</filename> er kjent for å
    feile fordi <application>Coreutils</application> ikke er bygget med
    <application>Acl</application> støtte enda.</para>

    <para>Installer pakken:</para>

<screen><userinput remap="install">make install</userinput></screen>

  </sect2>

  <!-- - - - - - - - - - -->
  <!-- Multilib - 32bit  -->
  <!-- - - - - - - - - - -->
  
  <sect2 arch="ml_32,ml_all" role="installation">
    <title>Installasjon av Acl - 32bit</title>

    <para>Rens forrige bygg:</para>

<screen><userinput remap="pre">make distclean</userinput></screen>

    <para>Klargjør Acl for kompilering:</para>

<screen><userinput remap="configure">CC="gcc -m32" ./configure \
    --prefix=/usr         \
    --disable-static      \
    --libdir=/usr/lib32   \
    --libexecdir=/usr/lib32   \
    --host=i686-pc-linux-gnu</userinput></screen>

    <para>Compile the package:</para>

<screen><userinput remap="make">make</userinput></screen>

    <para>Installer pakken:</para>

<screen><userinput remap="install">make DESTDIR=$PWD/DESTDIR install
cp -Rv DESTDIR/usr/lib32/* /usr/lib32
rm -rf DESTDIR</userinput></screen>

  </sect2><!-- m32 -->

  <!-- - - - - - - - - - -->
  <!-- Multilib - x32bit -->
  <!-- - - - - - - - - - -->
  
  <sect2 arch="ml_x32,ml_all" role="installation">
    <title>Installasjon av Acl - x32bit</title>

    <para>Rens forrige bygg:</para>

<screen><userinput remap="pre">make distclean</userinput></screen>

    <para>Klargjør Acl for kompilering:</para>

<screen><userinput remap="configure">CC="gcc -mx32" ./configure \
    --prefix=/usr          \
    --disable-static       \
    --libdir=/usr/libx32   \
    --libexecdir=/usr/libx32   \
    --host=x86_64-pc-linux-gnux32</userinput></screen>

    <para>Kompiler pakken:</para>

<screen><userinput remap="make">make</userinput></screen>

    <para>Installer pakken:</para>

<screen><userinput remap="install">make DESTDIR=$PWD/DESTDIR install
cp -Rv DESTDIR/usr/libx32/* /usr/libx32
rm -rf DESTDIR</userinput></screen>

  </sect2><!-- mx32 -->

  <sect2 id="contents-acl" role="content">
    <title>Innhold i Acl</title>

    <segmentedlist>
      <segtitle>Installerte programmer</segtitle>
      <segtitle>Installert bibliotek</segtitle>
      <segtitle>Installerte mapper</segtitle>

      <seglistitem>
        <seg>chacl, getfacl, og setfacl</seg>
        <seg>libacl.so</seg>
        <seg>/usr/include/acl og /usr/share/doc/acl-&acl-version;</seg>
      </seglistitem>
    </segmentedlist>

    <variablelist>
      <bridgehead renderas="sect3">Korte beskrivelser</bridgehead>
      <?dbfo list-presentation="list"?>
      <?dbhtml list-presentation="table"?>

      <varlistentry id="chacl">
        <term><command>chacl</command></term>
        <listitem>
          <para>Endrer tilgangskontrolllisten til en fil
          eller mappe</para>
          <indexterm zone="ch-system-acl chacl">
            <primary sortas="b-chacl">chacl</primary>
          </indexterm>
        </listitem>
      </varlistentry>

      <varlistentry id="getfacl">
        <term><command>getfacl</command></term>
        <listitem>
          <para>Henter filtilgangskontrolllister</para>
          <indexterm zone="ch-system-acl getfacl">
            <primary sortas="b-getfacl">getfacl</primary>
          </indexterm>
        </listitem>
      </varlistentry>

      <varlistentry id="setfacl">
        <term><command>setfacl</command></term>
        <listitem>
          <para>Angir filtilgangskontrolllister</para>
          <indexterm zone="ch-system-acl setfacl">
            <primary sortas="b-setfacl">setfacl</primary>
          </indexterm>
        </listitem>
      </varlistentry>

      <varlistentry id="libacl">
        <term><filename class="libraryfile">libacl</filename></term>
        <listitem>
          <para>Inneholder bibliotekfunksjonene for å manipulere tilgangskontrolllister</para>
          <indexterm zone="ch-system-acl libacl">
            <primary sortas="c-libacl">libacl</primary>
          </indexterm>
        </listitem>
      </varlistentry>

    </variablelist>

  </sect2>

</sect1>
